@{
    ViewData["Title"] = "Download";
}

<div class="container-fluid">
    <h1>Download</h1>
    
    <p>Here you can download this templat and the templates for the iOS and Android app.</p>
    
    <p>
        <a class="h4" href="https://github.com/macfriis">.Net core template </a>
    </p>
    <p>
        <a class="h4" href="https://github.com/macfriis">iOS app - Swift 4.x</a>
    </p>
    <p>
        <a class="h4" href="https://github.com/macfriis">Android app - Kotlin</a>
        </p>
</div>
