@{
    ViewData["Title"] = "Home Page";
}

<style>
    .parallax, .parallax2 {
        height: 300px; 
        
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .parallax {
        background-image: url("images/iStock-515593752.jpg");
    }
    
    .parallax2 {
        background-image: url("images/iStock-675077722.jpg");
    }
    
    .caption {
        position: relative;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #00000;
    }
    
    .caption span.border {
        background-color: #f1f1f1;
        color: #fffff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 5px;
    }
    
    .jumbotron {
        margin-top: 30px;
    }
</style>


<div class="parallax" >
    <div class="caption">
        <span class="border">.Net Core, MVC & API template</span>
    </div>
</div>

<div class="container-fluid">
       
    <div class="jumbotron">
    <div class="h4">This is a template for .Net Core 2.1, using bootstrap 4.x</div>
    <p>you will also find that the template have a lot of ready to use features like</p>
    <ul >
        <li >Entity Framework Core</li>
        <li >Auth0 API implementation</li>
        <li >Swagger documentation of API</li>
    </ul>
        
    </div>
</div>


<div class="parallax2">
    <div class="caption">
        <span class="border">Mobile ready API template</span>
    </div>
</div>

<div class="container-fluid">
    <div class="jumbotron" >
        <h4>Mobile App ready</h4>
        <p>The API is created to serve a mobile platform, and are testet on iOS and Android apps<br/>
            You will find link to iOS and Android templates</p>
    </div>
</div>